server:
  port: 10000

# common log level
logging:
  level:
    root: INFO
  file:
    name: "log4.log"

raft:
  servers:
    - "localhost:5001"
    - "localhost:9001"
    - "localhost:7001"
    - "localhost:10001"
  serversSpringAddress:
    - "localhost:5000"
    - "localhost:9000"
    - "localhost:7000"
    - "localhost:10000"
  self: "localhost:10001"
  electionTimeout: 15000
  heartBeatFrequent: 5000
  clientTimeout: 10000
  log: "logs/log4.json"
  newServer: true

library:
  address: "libraries/library4"

spring:
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
